img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

    p {
        font-family: Arial, sans-serif;
        font-size: 30px;
}
h3{

        font-size: 35px;

      
}
h4{


        font-size: 35px;

}
#lak{
        width: 50%    
        
}
#imgcc{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
}
#imgao{
        font-size: 30px;
}